<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    <!-- come in public temple jsn -->

    {{>navbar}}
    
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/r.JPG"
                  alt=""
                  class="img-fluid"
                  title="rinkesh"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Rinkesh Ranpariya</p>
              <h1>
                I am a <span class="textcolor">MERN stack developer</span> and student
              </h1>
              <a href="https://www.linkedin.com/in/rinkesh-ranpariya-1113331b3/"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {{>footer}}

    {{>scripttag}}
  </body>
</html>
